pre-commit
tox
tox-factor
-r test_requirements.txt
cloudshell-cli>=3.3,<3.4
cloudshell-shell-core>=5.0,<5.1


-e git+git://github.com/QualiSystems/cloudshell-logging@dev#egg=cloudshell-logging
-e git+git://github.com/QualiSystems/cloudshell-shell-flows@dev#egg=cloudshell-shell-flows
-e git+git://github.com/QualiSystems/cloudshell-shell-standards@dev#egg=cloudshell-shell-standards
-e git+git://github.com/QualiSystems/cloudshell-shell-networking-standard@dev#egg=cloudshell-shell-networking-standard
